@import '../../styles/variables.less';

.doc-upload {
  background: @color-bg-secondary !important;
  border-color: @color-scrollbar !important;

  &:hover {
    border-color: @color-accent !important;
  }

  .ant-upload-drag-icon .anticon {
    color: @color-accent !important;
  }

  .ant-upload-text {
    color: @color-primary !important;
  }

  .ant-upload-hint {
    color: @color-text-secondary !important;
  }
}
