@import '../../styles/variables.less';

.kb-selector {
  margin-bottom: 20px;
}

.kb-select {
  width: 100%;
}

.debug-label {
  display: block;
  font-size: 13px;
  color: @color-primary;
  font-weight: 500;
  margin-bottom: 8px;
}
